In [1]:
import pandas as pd
print(pd.__version__)

2.2.3

In [2]:
data1 = ['a', 'b', 'c', 'd', 'e']
print(data1)
print("자료령:", type(data1))

['a', 'b', 'c', 'd', 'e']
자료령: <class 'list'>

In [3]:
sr1 = pd.Series(data1)
print("자료형:", type(sr1))

자료형: <class 'pandas.core.series.Series'>

In [4]:
print(sr1)

0    a
1    b
2    c
3    d
4    e
dtype: object

##### loc 인덱서
> ###### loc 인덱서의 범위가 0차원, 1차원, 2차원에 따라 출력되는 데이터의 타입이 다르다. <br> 0차원은 데이터, 1차원은 시리즈 객체, 2차원은 데이터프레임 이다.

In [ ]:
sr1.loc[0]      # loc 는 location 의 약어이다.

'a'

In [6]:
sr1.loc[1:3]

1    b
2    c
3    d
dtype: object

###### 시리즈의 인덱싱은 마지막 인덱스에 해당하는 원소도 포함한다.

In [7]:
data2 = (1, 2, 3.14, 100, -10)
sr2 = pd.Series(data2)
print(sr2)      # float64는 64비트를 의미한다.

0      1.00
1      2.00
2      3.14
3    100.00
4    -10.00
dtype: float64

In [8]:
dict_data = {'c0':sr1, 'c1':sr2}    # 딕셔너리의 키 'c0', 'c1' 은 각 열의 이름이 된다. 
df1 = pd.DataFrame(dict_data)
df1

  c0      c1
0  a    1.00
1  b    2.00
2  c    3.14
3  d  100.00
4  e  -10.00

In [9]:
type(df1)

pandas.core.frame.DataFrame

In [10]:
df1.columns     # columns   / "기둥"이라는 의미이다.    / 데이터프레임의 열 이름을 columns 속성으로 추출한다.

Index(['c0', 'c1'], dtype='object')

In [11]:
df1.columns = ['string', 'number']      # columns 속성에 새로운 열 이름의 배열을 지정
df1

  string  number
0      a    1.00
1      b    2.00
2      c    3.14
3      d  100.00
4      e  -10.00

In [12]:
df1.index   # 행 인덱스는 정수 0부터 4까지 오름차순으로 자동 지정된다.

RangeIndex(start=0, stop=5, step=1)

In [13]:
df1.index = ['r0', 'r1', 'r2', 'r3', 'r4']
df1

   string  number
r0      a    1.00
r1      b    2.00
r2      c    3.14
r3      d  100.00
r4      e  -10.00

In [14]:
df1.loc['r2', 'number']     # 시리즈와 동일하게 데이터프레임의 일부분을 추출할 때 loc 인덱서를 사용한다.    / loc[행 인덱스, 열 이름]

3.14

In [15]:
df1.loc['r2':'r3', 'string':'number']   # loc 인덱서에 범위 지정    / 행과 열이 2 이상이므로 데이터프레임이 추출된다.

   string  number
r2      c    3.14
r3      d  100.00

In [16]:
df1.loc['r2':'r3', 'number']        # 하나의 열을 추출하므로 원소 2개를 갖는 시리즈 객체가 추출된다.

r2      3.14
r3    100.00
Name: number, dtype: float64

In [17]:
df1.loc['r2', 'string':'number']    # 이 또한 시리즈 객체가 추출된다.   / 행과 열이 뒤바뀌었다.(?)

string       c
number    3.14
Name: r2, dtype: object

In [18]:
df1.loc[:, 'string']

r0    a
r1    b
r2    c
r3    d
r4    e
Name: string, dtype: object

In [19]:
df1.loc['r2':'r3', :]

   string  number
r2      c    3.14
r3      d  100.00